.products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    justify-content: center;
    margin: 20px 0;
}
.products .card{
    margin: 10px auto;
}
.products .card-img-top{
    height: 250px;
    width: 100%;
}
.products .card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.products .card-text{
    height: auto;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.row_btn{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 10px;
}
.row_btn a{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px;
}
#btn_buy{
    background: rgba(211, 35, 35, 0.856);
    margin-right: 5px;
    text-decoration: none;
    color: white;
    border-radius: 10px;

}
#btn_view{
    background: rgba(61, 44, 44, 0.842);
    margin-left: 5px;
    text-decoration: none;
    color: white;
    border-radius: 10px;

}
